# dependencies
node_modules
.pnp
.pnp.js

# compiled output
build
dist
out
*.tsbuildinfo

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Bundle artifact
*.jsbundle

# Env
.env*
!.env.dist

# nextjs
.vercel
next-env.d.ts
*/.next/
out/

# OS
.DS_Store